extends layout

block content
  h1= title
  ul
    each link in links
      li
        a(href="#{link.href}")
          | #{link.text}
          ul
            li
              a(href="#{link.commentLink}")
                | Comment
            li
              ul
                each comment in link.commentArray
                  li
                    a(href="#{comment.href}")
                      | #{comment.text}
        form(action="/search")

